.profile__avatar-edit {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 120px;
    height: 120px;
    background: none;
    border: none;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
  }
  
  .profile__avatar-edit:hover {
    background: rgba(0, 0, 0, 0.8);
    background-image: url('../../../images/Edit_avatar.png');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
