.popup__input {
    margin: 0 36px 30px;
    width: 358px;
    height: 27px;
    padding: 0;
    padding-bottom: 13px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);  
    box-sizing: border-box;
}

.popup__input:last-of-type {
    margin-bottom: 0px;
}

@media screen and (max-width: 579px) {
    .popup__input {
        margin: 0 22px 30px; 
        width: 238px;
    }
  }

