.popup__container {
    position: relative;
    margin: 0 auto;
    width: calc(100% - 38px);
    max-width: 430px;
    background-color: #FFFFFF;
    box-shadow: 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

@media screen and (max-width: 579px) {
    .popup__container {
        max-width: 282px;
    }
  }