.profile__edit-button {
    border: 1px solid #FFFFFF;
    background-image: url(../../../images/Edit_button.svg);
    background-repeat: no-repeat;
    background-size: 10px 10px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    background-position: center;
    cursor: pointer; 
    transition: all 0.3s ease-in-out;
}

.profile__edit-button:hover {
    opacity: 0.6;
  }

  @media screen and (max-width: 579px) {
    .profile__edit-button {
        height: 18px;
        width: 18px; 
        background-size: 7.5px 7.5px; 
    }
  }