.element__like-button_active {
    background-image: url('../../../../images/Like_button_active.png');
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    object-fit: cover;
    min-width: 22px;
    min-height: 19px;
    background-position: bottom;
    border: 0;
}