.popup__save-button {
    display: block;
    margin: 0 auto;
    margin-bottom: 37px;
    padding: 0;
    width: 358px;
    height: 50px;
    background-color: #000000;
    border: none;
    border-radius: 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .popup__save-button:hover {
    opacity: 0.8;
  }

  @media screen and (max-width: 579px) {
    .popup__save-button {
      margin-bottom: 25px;
      width: 238px;
      height: 46px;
      font-size: 14px;
      line-height: 17px;
    }
  }