.profile__avatar {
    display: block;
    object-fit: cover;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-right: 30px;
}

@media screen and (max-width: 879px) {
    .profile__avatar {
        margin-left: 27px;
    }
  } 


@media screen and (max-width: 579px) {
    .profile__avatar {
        margin: 0 auto 26px;
    }
  } 