.element__like-button {
  background-image: url('../../../images/Like_button.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  object-fit: cover;
  background-size: cover;
  width: 22px;
  height: 19px;
  background-position: bottom;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  transition: all 0.3s ease-in-out;
}

.element__like-button:hover {
  opacity: 0.5; 
}
