.elements__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  justify-content: space-between;
  row-gap: 20px;
  column-gap: 17px;
}

@media screen and (max-width: 879px) {
  .elements__list {
    justify-items: center;
    column-gap: 10px;
  }
}

@media screen and (max-width: 579px) {
  .elements__list {
    column-gap: 0;
  }
}